<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <%- include("components/header") %>
    <script src="https://apis.mappls.com/advancedmaps/api/b9aa7fa83d2a7a2631818d555c8b1d7d/map_sdk?v=3.0&layer=vector"></script>
  </head>
  <body>
    <div id="root">
      <%- include('components/navbar') %>
      <div class="container mt-5">
        <% if (locals.disaster) { %>
        <table class="animate__animated animate__fadeIn table table-bordered">
          <tr colspan="2">
            <div
              id="map"
              class="animate__backInDown animate__animated"
              style="height: 40vh"
            ></div>
          </tr>
          <tr>
            <th>Title</th>
            <td><%= disaster.name %></td>
          </tr>
          <tr>
            <th>Location</th>
            <td id="locationName"></td>
          </tr>
          <tr>
            <th>LocatioDescriptionn</th>
            <td><%= disaster.description %></td>
          </tr>
          <tr>
            <th>Upload On</th>
            <td>
              <%= new Date(disaster.createdAt).toLocaleDateString() %> - <%= new
              Date(disaster.createdAt).toLocaleTimeString() %>
            </td>
          </tr>
        </table>
        <% } %>
      </div>
    </div>
    <input
      id="latitude"
      type="hidden"
      value="<%= disaster.locationCoords.lat %>"
    />
    <input
      id="longitude"
      type="hidden"
      value="<%= disaster.locationCoords.lng %>"
    />
    <script>
      const lat = $("#latitude").val();
      const lng = $("#longitude").val();
      map = new mappls.Map("map", {
        center: { lat: lat, lng: lng },
        zoom: 15,
      });
      var marker = new mappls.Marker({
        map: map,
        position: { lat: lat, lng: lng },
      });
      $.get(
        `http://localhost:8000/api/location/coords?lat=${lat}&lng=${lng}`,
        function (data_l) {
          var address = "NULL";
          const data = data_l.results[0];
          if (data) {
            address = `${data.houseNumber ? data.houseNumber + "," : ""} ${
              data.subLocality ? data.subLocality + "," : ""
            } ${data.locality ? data.locality.trim() : ""}${
              data.city ? ", " + data.city : ""
            } ${data.state ? data.state : ""}`;
          }
          $("#locationName").text(address);
        }
      );
    </script>
    <script src="/js/bs.js"></script>
  </body>
</html>
