<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      <% if (locals.title) { %> <%= title %> <% }else{ %> Anti-Disaster <% } %>
    </title>
    <script src="/js/jquery.js"></script>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bs.css" />
    <script src="https://apis.mappls.com/advancedmaps/api/b9aa7fa83d2a7a2631818d555c8b1d7d/map_sdk?v=3.0&layer=vector"></script>
  </head>
  <body>
    <div id="root">
      <%- include('components/navbar') %>
      <div class="container mt-5">
        <% if (locals.disaster) { %>
        <table class="table table-bordered">
          <tr colspan="2">
            <div id="map"></div>
          </tr>
          <tr>
            <th>Title</th>
            <td><%= disaster.name %></td>
          </tr>
          <tr>
            <th>Location</th>
            <td><%= disaster.locationName %></td>
          </tr>
          <tr>
            <th>Upload On</th>
            <td>
              <%= new Date(disaster.createdAt).toLocaleDateString() %> - <%= new
              Date(disaster.createdAt).toLocaleTimeString() %>
            </td>
          </tr>
        </table>
        <% } %>
      </div>
    </div>
    <input id="latitude" value="<%= disaster.coords.lat %>" />
    <input id="longitude" value="<%= disaster.coords.lng %>" />
    <script>
      map = new mappls.Map("map", {
        center: { lat: $("#latitude").val(), lng: $("#longitude").val() },
      });
    </script>
    <script src="/js/bs.js"></script>
  </body>
</html>
