<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <%- include("components/header") %>
  </head>
  <body>
    <div id="root">
      <%- include('components/navbar') %>
      <div class="container mt-3">
        <div class="feed-container row">
          <% if (locals.data) { %> <% data.forEach(function(disaster) { %>
          <div class="col-md-6 col-lg-4 mb-3">
            <div
              class="feed-card animate__animated animate__zoomIn"
              data-id="<%= disaster._id %>"
            >
              <div class="meta-details">
                <h5><%= disaster.name %></h5>
                <!-- Disaster name -->
                <p class="m-0"><%= disaster.locationName %></p>
                <p class="m-0">
                  <%= new Date(disaster.createdAt).toLocaleDateString() %> - <%=
                  new Date(disaster.createdAt).toLocaleTimeString() %>
                </p>
                <p><%= disaster.description %></p>
                <!-- Location and formatted date-time -->
              </div>
              <div class="disaster-gallery text-center">
                <img
                  src="/uploads/<%= disaster.picture %>"
                  alt="<%= disaster.name %> Image"
                />
                <!-- Disaster image -->
              </div>
            </div>
          </div>
          <% }) %> <% }else{ %>
          <div
            class="row justify-content-center align-content-center"
            style="height: 70vh"
          >
            <div class="col-md-6 col-lg-4">
              <div class="text-center alert alert-primary p-5">
                <h2>No Feed Yet</h2>
                <p>Be First to Upload!</p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <% if (locals.login) { %>
      <div class="showLocEnable" style="display: none">
        <div class="fixed-bottom z-3">
          <div class="p-3">
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#newfeed"
              style="font-size: 1.5rem"
            >
              +
            </button>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="newfeed"
          tabindex="-1"
          aria-labelledby="newFeed"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="newfeed">Report Disaster</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form
                  class="disaterUpload"
                  action="/disaster"
                  enctype="multipart/form-data"
                  method="POST"
                >
                  <div class="form-group mb-3">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Title of Disaster"
                      required
                    />
                  </div>
                  <input type="hidden" name="lat" id="latCordVal" />
                  <input type="hidden" name="lng" id="lngCordVal" />

                  <div class="form-group mb-3">
                    <input
                      type="file"
                      name="picture"
                      accept="image/*"
                      required
                      class="form-control"
                    />
                  </div>
                  <div class="mb-3 form-group">
                    <textarea
                      name="description"
                      class="form-control"
                      rows="4"
                      placeholder="Enter Disaster Description...."
                      style="resize: none"
                    ></textarea>
                  </div>
                  <button class="btn btn-primary w-100">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <script>
      // Check if geolocation is available
      const coords = { lat: 3, lng: 3 };
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }

      // Success callback function
      function success(position) {
        const lat = position.coords.latitude;
        const lng = position.coords.longitude;
        coords.lat = lat;
        coords.lng = lng;
        $(".showLocEnable").show();
        $("#latCordVal").val(lat);
        $("#lngCordVal").val(lng);
      }

      // Error callback function
      function error() {
        $(".showLocEnable").remove();
        alert("Unable to retrieve your location.");
      }

      $(document).ready(() => {
        $(".feed-card").click(function () {
          const tarId = $(this).data("id");
          if (!tarId) return console.log("Malformed!");
          window.location.href = "/feeds/" + tarId;
        });
      });
    </script>
    <style>
      .feed-card {
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 2px 5px 7px #e3e3e3;
        transition: 0.2s;
        cursor: pointer;
      }

      .feed-card:hover {
        border: 1px solid rgb(210, 210, 210);
        box-shadow: 0 0 0 #e3e3e3;
      }

      .disaster-gallery {
        max-height: 50vh;
        max-width: 100%;
        overflow: hidden;
      }

      .feed-card .disaster-gallery img {
        max-width: 100%;
        max-height: 80vh;
      }

      .feed-card .meta-details p {
        font-size: 0.7rem;
        color: #3c3c3c;
      }

      .feed-card .meta-details h5 {
        color: #464646;
      }

      .input-field {
        position: relative;
      }

      .input-field a.btn {
        position: absolute;
        top: 0;
        right: 0;
      }

      .locationSuggest ul {
        list-style: none;
        padding: 0;
        background: #f9f9f9;
        font-size: 0.8rem;
      }

      .locationSuggest ul li {
        padding: 5px 10px;
        cursor: pointer;
        transition: 0.1s;
        color: #3c3c3c;
      }

      .locationSuggest ul li:hover {
        background: white;
        color: black;
      }
    </style>
  </body>
</html>
